In [1]:
import pandas as pd

In [33]:
given_path = '/Users/bytedance/secfsdstools/data/dld/2022q2/'

In [ ]:
num = pd.read_csv(given_path+'num.txt', sep='\t')
num

In [113]:
adsh_tag_ddate_to_value = {}
total_count = 0
errored_idx = []

for idx, (adsh, tag, version, coreg, qtrs, ddate, uom, value) in enumerate(
    zip(num.adsh, num.tag, num.version, num.coreg, num.qtrs, num.ddate, num.uom, num.value)):
    if (adsh, tag, version, coreg, qtrs, ddate, uom) in adsh_tag_ddate_to_value:
        cur_value = adsh_tag_ddate_to_value[adsh, tag, version, coreg, qtrs, ddate, uom]
        if cur_value != value:
            print('Duplicate exists, but value is different!')
            total_count += 1
            print(total_count)
            errored_idx += [idx]
    else:
        adsh_tag_ddate_to_value[adsh, tag, version, coreg, qtrs, ddate, uom] = value

In [115]:
num.groupby(by=["adsh", "tag", "version", "qtrs", "ddate", "uom"]).sum('value')

                                                                                                              value
adsh                 tag                                             version      qtrs ddate    uom
0000002178-22-000046 AccountsPayableCurrent                          us-gaap/2021 0    20211231 USD     168224000.0
                                                                                       20220331 USD     259451000.0
                     AccountsPayableRelatedPartiesCurrent            us-gaap/2021 0    20211231 USD             0.0
                                                                                       20220331 USD         47000.0
                     AccountsReceivableNetCurrent                    us-gaap/2021 0    20211231 USD     137789000.0
...                                                                                                             ...
0001915657-22-000011 UnrealizedGainLossOnDerivatives                 us-gaap/2021 1    20220331 USD        226000.0
                     WeightedAverageNumberOfDilutedSharesOutstanding us-gaap/2021 1    20210331 shares  162479000.0
                                                                                       20220331 shares  175081000.0
                     WeightedAverageNumberOfSharesOutstandingBasic   us-gaap/2021 1    20210331 shares  162479000.0
                                                                                       20220331 shares  175081000.0

[2664905 rows x 1 columns]

In [35]:
# pre contains the statement, such as BS, CP
pre = pd.read_csv(given_path+'pre.txt', sep='\t')
pre

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
0,0001193125-22-149504,2,4,BS,0,H,SeriesAPreferredStockMember,us-gaap/2020,Series A Preferred Stock [Member],0
1,0000356037-22-000017,2,24,BS,0,H,PensionAndOtherPostretirementDefinedBenefitPla...,us-gaap/2020,Pension and retirement plans,0
2,0001558370-22-008166,8,17,CF,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,Provision for credit losses,0
3,0001558370-22-008166,4,13,IS,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,PROVISION (BENEFIT) FOR CREDIT LOSSES,0
4,0000876883-22-000017,5,7,CF,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,Provision for bad debt expense,0
...,...,...,...,...,...,...,...,...,...,...
1472608,0001213900-22-036349,6,47,CF,0,H,UnamortizedStockBasedCompensation,0001213900-22-036349,Common shares issued for future services,0
1472609,0001213900-22-036349,6,36,CF,0,H,RepaymentsForNotePayableToShareholder,0001213900-22-036349,Repayments for note payable to shareholder,0
1472610,0001213900-22-036349,6,52,CF,0,H,ReliefOfDerivativeLiability,0001213900-22-036349,Relief of derivative liability,0
1472611,0001213900-22-036349,4,8,IS,0,H,PayrollAndRelatedExpense,0001213900-22-036349,Payroll and related expense,0
1472612,0001213900-22-036349,6,17,CF,0,H,OtherEquityAdjustments,0001213900-22-036349,Prepaid expenses and other current assets,1

In [36]:
sub = pd.read_csv(given_path+'sub.txt', sep='\t')
sub

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0000004127-22-000019,4127,SKYWORKS SOLUTIONS INC,3674.0,US,CA,IRVINE,92617,5260 CALIFORNIA AVENUE,NaN,...,20220131.0,NaN,NaN,20220513,2022-05-13 16:39:00.0,1,0,swks-20220128_htm.xml,1,NaN
1,0000004127-22-000020,4127,SKYWORKS SOLUTIONS INC,3674.0,US,CA,IRVINE,92617,5260 CALIFORNIA AVENUE,NaN,...,20220430.0,NaN,NaN,20220513,2022-05-13 16:43:00.0,1,0,swks-20220511_htm.xml,1,NaN
2,0000010048-22-000011,10048,BARNWELL INDUSTRIES INC,1311.0,US,HI,HONOLULU,96813,1100 ALAKEA ST.,SUITE 500,...,20220331.0,2022.0,Q2,20220513,2022-05-13 16:18:00.0,0,1,brn-20220331_htm.xml,1,NaN
3,0000020286-22-000034,20286,CINCINNATI FINANCIAL CORP,6331.0,US,OH,FAIRFIELD,45014,6200 S GILMORE RD,NaN,...,20220430.0,NaN,NaN,20220513,2022-05-13 08:36:00.0,0,0,cinf-20220513_htm.xml,1,NaN
4,0000049826-22-000031,49826,ILLINOIS TOOL WORKS INC,3560.0,US,IL,GLENVIEW,60025,155 HARLEM AVENUE,NaN,...,20220430.0,NaN,NaN,20220513,2022-05-12 18:01:00.0,0,0,itw-20220506_htm.xml,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27257,0001819395-22-000019,1819395,SONDER HOLDINGS INC.,7000.0,US,CA,SAN FRANCISCO,94103,101 15TH ST.,NaN,...,20220331.0,NaN,NaN,20220401,2022-04-01 17:21:00.0,0,0,son-20220330_htm.xml,1,NaN
27258,0001819810-22-000021,1819810,REDWIRE CORP,3760.0,US,FL,JACKSONVILLE,32256,"8226 PHILIPS HIGHWAY, SUITE 101",NaN,...,20210930.0,2021.0,Q3,20220401,2022-04-01 17:09:00.0,0,1,rdw-20210930_htm.xml,1,NaN
27259,0001823878-22-000030,1823878,"PLAYSTUDIOS, INC.",7372.0,US,NV,LAS VEGAS,89144,10150 COVINGTON CROSS DRIVE,NaN,...,20220331.0,NaN,NaN,20220401,2022-04-01 09:12:00.0,0,0,myps-20220401_htm.xml,1,NaN
27260,0001830197-22-000040,1830197,HOME POINT CAPITAL INC.,6162.0,US,MI,ANN ARBOR,48105,2211 OLD EARHART ROAD,SUITE 250,...,20220331.0,NaN,NaN,20220401,2022-04-01 16:28:00.0,0,0,hmpt-20220328_htm.xml,1,NaN
27261,0001851734-22-000185,1374328,"FITLIFE BRANDS, INC.",2833.0,US,NE,OMAHA,68137,5214 S. 136TH STREET,NaN,...,20220331.0,NaN,NaN,20220401,2022-04-01 16:04:00.0,0,0,ftlf20220401_8k_htm.xml,1,NaN

In [75]:
import numpy as np

In [79]:
sub['period'] = sub.period.map(lambda x: str(x)[:-2] if x != np.nan else x)
sub['filed'] = sub['filed'].map(lambda x: str(x))

In [37]:
adsh_to_cik = {}
for adsh, cik in zip(sub.adsh, sub.cik):
    adsh_to_cik[adsh] = cik

In [38]:
cik_to_adsh = {}
for adsh, cik in adsh_to_cik.items():
    cik_to_adsh[cik] = adsh

In [52]:
cik_to_accepted_date = {}
for cik, accepted_date in zip(sub.cik, sub.accepted):
    cik_to_accepted_date[cik]=accepted_date
    
cik_to_period_ending = {}
for cik, period_ending_date in zip(sub.cik, sub.period):
    cik_to_period_ending[cik]=period_ending_date

In [53]:
pre['cik'] = pre.adsh.map(lambda x: adsh_to_cik[x])
pre['accepted_date'] = pre.cik.map(lambda x: cik_to_accepted_date[x])
pre['period'] = pre.cik.map(lambda x: cik_to_period_ending[x])

In [93]:
pre.adsh.nunique()

8510

In [97]:
pre.head(10)

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating,cik,accepted_date,period_ending_date
0,0001193125-22-149504,2,4,BS,0,H,SeriesAPreferredStockMember,us-gaap/2020,Series A Preferred Stock [Member],0,1042418,2022-06-03 16:18:00.0,20220531.0
1,0000356037-22-000017,2,24,BS,0,H,PensionAndOtherPostretirementDefinedBenefitPla...,us-gaap/2020,Pension and retirement plans,0,356037,2022-05-11 13:44:00.0,20220331.0
2,0001558370-22-008166,8,17,CF,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,Provision for credit losses,0,916907,2022-04-21 16:21:00.0,20220430.0
3,0001558370-22-008166,4,13,IS,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,PROVISION (BENEFIT) FOR CREDIT LOSSES,0,916907,2022-04-21 16:21:00.0,20220430.0
4,0000876883-22-000017,5,7,CF,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,Provision for bad debt expense,0,876883,2022-05-06 07:13:00.0,20220430.0
5,0001558370-22-008647,4,11,IS,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,Provision for Loan Losses,0,1835385,2022-05-24 16:48:00.0,20220531.0
6,0001558370-22-008327,8,5,CF,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,Provision for loan losses,0,1769663,2022-05-11 16:31:00.0,20220331.0
7,0001558370-22-008327,4,11,IS,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,Provision for loan losses,0,1769663,2022-05-11 16:31:00.0,20220331.0
8,0001558370-22-008920,8,6,CF,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,Provision for loan losses,0,1578776,2022-04-29 16:43:00.0,20220430.0
9,0001558370-22-008920,4,13,IS,0,H,ProvisionForLoanAndLeaseLosses,us-gaap/2020,PROVISION FOR LOAN LOSSES,0,1578776,2022-04-29 16:43:00.0,20220430.0

In [65]:
pre.groupby('cik').min()

/Users/bytedance/personal-code/data_saver/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,adsh,report,line,stmt,inpth,rfile,version,negating,accepted_date,period_ending_date
cik,,,,,,,,,,
1800,0001104659-22-055285,1,1,BS,0,H,0001104659-22-055285,0,2022-04-20 07:37:00.0,20220430.0
1961,0001264931-22-000133,1,1,BS,0,H,0001264931-22-000133,0,2022-05-13 15:58:00.0,20220331.0
2098,0001564590-22-018941,1,1,BS,0,H,0001564590-22-018941,0,2022-04-22 09:18:00.0,20220430.0
2178,0000002178-22-000046,1,1,BS,0,H,0000002178-22-000046,0,2022-05-10 16:21:00.0,20220430.0
2186,0001654954-22-005679,1,1,BS,0,H,0001654954-22-005679,0,2022-04-21 16:31:00.0,20220430.0
...,...,...,...,...,...,...,...,...,...,...
1914605,0000950170-22-012077,1,1,BS,0,H,0000950170-22-012077,0,2022-06-24 12:02:00.0,20220331.0
1915657,0001915657-22-000011,1,1,BS,0,H,0001915657-22-000011,0,2022-04-25 06:41:00.0,20220430.0
1918080,0001213900-22-027237,1,1,BS,0,H,0001213900-22-027237,0,2022-05-16 17:15:00.0,20220331.0
1918102,0001213900-22-027248,1,1,BS,0,H,0001213900-22-027248,0,2022-05-16 17:23:00.0,20220331.0
1919988,0001213900-22-018856,1,1,BS,0,H,0001213900-22-018856,0,2022-04-08 13:02:00.0,20211231.0

In [61]:
min_grouped = pre.groupby('cik').min('')

/Users/bytedance/personal-code/data_saver/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

,adsh,report,line,stmt,inpth,rfile,version,negating,accepted_date,period_ending_date
cik,,,,,,,,,,
1800,0001104659-22-055285,1,1,BS,0,H,0001104659-22-055285,0,2022-04-20 07:37:00.0,20220430.0
1961,0001264931-22-000133,1,1,BS,0,H,0001264931-22-000133,0,2022-05-13 15:58:00.0,20220331.0
2098,0001564590-22-018941,1,1,BS,0,H,0001564590-22-018941,0,2022-04-22 09:18:00.0,20220430.0
2178,0000002178-22-000046,1,1,BS,0,H,0000002178-22-000046,0,2022-05-10 16:21:00.0,20220430.0
2186,0001654954-22-005679,1,1,BS,0,H,0001654954-22-005679,0,2022-04-21 16:31:00.0,20220430.0
...,...,...,...,...,...,...,...,...,...,...
1914605,0000950170-22-012077,1,1,BS,0,H,0000950170-22-012077,0,2022-06-24 12:02:00.0,20220331.0
1915657,0001915657-22-000011,1,1,BS,0,H,0001915657-22-000011,0,2022-04-25 06:41:00.0,20220430.0
1918080,0001213900-22-027237,1,1,BS,0,H,0001213900-22-027237,0,2022-05-16 17:15:00.0,20220331.0
1918102,0001213900-22-027248,1,1,BS,0,H,0001213900-22-027248,0,2022-05-16 17:23:00.0,20220331.0
1919988,0001213900-22-018856,1,1,BS,0,H,0001213900-22-018856,0,2022-04-08 13:02:00.0,20211231.0

In [21]:
sub.shape

(522, 36)

In [45]:
# tag seems to be the least important for now
tag = pd.read_csv(given_path+'tag.txt', sep='\t')
tag

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,NetIncomeLoss,us-gaap/2020,0,0,monetary,D,C,Net Income (Loss) Attributable to Parent,"The portion of profit or loss for the period, ..."
1,NetInvestmentInLeaseCurrent,us-gaap/2020,0,0,monetary,I,D,"Net Investment in Lease, Current",Amount of net investment in sales-type and dir...
2,PropertyPlantAndEquipmentNet,us-gaap/2020,0,0,monetary,I,D,"Property, Plant and Equipment, Net","Amount after accumulated depreciation, depleti..."
3,EarningsPerShareBasicAndDilutedOtherDisclosure...,us-gaap/2020,0,1,NaN,NaN,NaN,"Earnings Per Share, Basic and Diluted, Other D...",NaN
4,PaymentsToDevelopSoftware,us-gaap/2020,0,0,monetary,D,C,Payments to Develop Software,The cash outflow associated with the developme...
...,...,...,...,...,...,...,...,...,...
132896,ReceiptsFromRelatedParties,0001493152-22-018138,1,0,monetary,D,D,Receipts from related parties,Receipts from related parties.
132897,RightofuseAssetAcquiredThroughOperatingLease,0001493152-22-018138,1,0,monetary,D,C,Right-of-use asset acquired through operating ...,Right of use asset acquired through operating ...
132898,StockIssuedDuringPeriodSharesNewIssuesOne,0001493152-22-018138,1,0,shares,D,NaN,"Issuance of Common Shares, net of issuance cos...",Number of new stock issued during the period.
132899,StockIssuedDuringPeriodValueNewIssuesOne,0001493152-22-018138,1,0,monetary,D,C,"Issuance of 178,100 Common Shares, net of issu...",Equity impact of the value of new stock issued...
132900,UnitIssuanceCosts,0001493152-22-018138,1,0,monetary,D,C,[custom:UnitIssuanceCosts],Unit issuance costs.